<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid Loading and Hover Effect | Demo 1</title>
    <meta name="description" content="Grid Loading and Hover Effect: Recreating Samsung's grid loading effect" />
    <meta name="keywords" content="grid loading, swipe, effect, slide, masonry, web design, tutorial" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->

    <!-- <link rel="stylesheet" type="text/css" href="../cssmansory/normalize.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="../cssmansory/demo.css" /> -->
    <link rel="stylesheet" type="text/css" href="../cssmansory/component.css" />
    <link href="/css/custom.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <script src="../jsmansory/modernizr.custom.js"></script>
</head>

<body class="slabbg">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <div class="mid_center">
                            <h3>Hi..</h3>
                            <form>
                                <div class="col-xs-12 form-group pull-right top_search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="What Trends do you want to know ? ">
                                        <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
    <div class="container">
        <!-- Top Navigation -->


        <section class="grid-wrap">
            <ul class="grid swipe-right" id="grid">

                <li>
                    <div class="col-lg-12">
                        <div class="tile-stats twitter">
                            <div class="profile text-center">
                                <div class="profile_pic ">
                                    <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                                    <p>Ivan GerardSSSS</p>
                                </div>

                            </div>




                            <div class="col-lg-12">
                                <div class="divider"></div>

                                <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, delectus aut minima, laudantium, quo fugiat atque vitae temporibus culpa deleniti expedita magni accusantium quae corporis! Dicta
                                    ut, placeat eum sed.amet, consectetur adipiscing elit. Integer posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Integer posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <div class="divider"></div>

                            </div>
                            <div class="col-lg-12">
                                <i class="  fa fa-twitter"></i> Total Retweeted : 200003
                            </div>


                        </div>

                    </div>
                </li>




                <li>
                    <div class="col-lg-12">
                        <div class="tile-stats">
                            <div class="profile text-center">
                                <div class="profile_pic ">
                                    <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                                    <p>Ivan Gerard</p>
                                </div>

                            </div>




                            <div class="col-lg-12">
                                <div class="divider"></div>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscinglorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat delectus repellat
                                    corporis nostrum minima beatae deserunt iste, consequatur molestias iure dicta, sint nulla sunt facilis cumque tenetur voluptatem aperiam dolorem? elit. Integer posuere erat a ante Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Integer posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <div class="divider"></div>

                            </div>
                            <div class="col-lg-12">
                                <i class="  fa fa-twitter"></i> Total Retweeted : 200003
                            </div>


                        </div>

                    </div>
                </li>



                <li>
                    <div class="col-lg-12">
                        <div class="tile-stats youtube">
                            <div class="profile text-center">
                                <h3>The Voice 2016 Blind Audition - Nolan Neal: "Tiny Dancer"</p>

											</div>
														<div class="col-lg-12" style="margin-top:20px;">
																<div class="col-md-12">
			                        <div class="thumbnail">
			                          <div class="image view view-first">
			                            <img style="width: 100%; display: block;" src="http://www.mountainguides.com/photos/everest-south/c2_2011b.jpg" alt="image">
			                            <div class="mask">
			                              <p>Url</p>
			                              <div class="tools tools-bottom">
			                                <a href="#"><i class="fa fa-link"></i></a>
			                                <a href="#"><i class="fa fa-pencil"></i></a>
			                                <a href="#"><i class="fa fa-times"></i></a>
			                              </div>
			                            </div>
			                          </div>
			                          <div class="caption">
			                            <p align="center"><i class="fa fa-eye"></i> 2000 </p>
			                          </div>
			                        </div>
			                      </div>
													<div class="divider"></div>

														</div>
														<div class="col-lg-12">
															<i class="  fa fa-youtube"></i>
														</div>


												</div>

										</div>
								</li>
								<li>
										<div class="col-lg-12">
												<div class="tile-stats facebook">
																		<div class="profile text-center">
												<div class="profile_pic ">
													<img src="images/img.jpg" alt="..." class="img-circle profile_img">
												<p>Ivan Gerard</p>
												</div>

											</div>




														<div class="col-lg-12">
																<div class="divider"></div>

													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscing elit.lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas maxime incidunt dignissimos eos suscipit qui rerum minima  porro quia unde vero eius.
														posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
													<div class="divider"></div>

														</div>
														<div class="col-lg-12">
															<i class="  fa fa-facebook-square"></i>
														</div>


												</div>

										</div>
								</li>
								<li>
										<div class="col-lg-12">
												<div class="tile-stats">
																		<div class="profile text-center">
												<div class="profile_pic ">
													<img src="images/img.jpg" alt="..." class="img-circle profile_img">
												<p>Ivan Gerard</p>
												</div>

											</div>




														<div class="col-lg-12">
																<div class="divider"></div>

													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscing elit.lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas maxime incidunt dignissimos eos suscipit qui rerum minima officiis maiores eligendi sequi nesciunt dolorem voluptatum distinctio, dolore culpa hic libero. Distinctio! 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis facere sint illum aliquid nam! Obcaecati a lorem 	. Integer
														posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
													<div class="divider"></div>

														</div>
														<div class="col-lg-12">
															<i class="  fa fa-twitter"></i>
														</div>


												</div>

										</div>
								</li>
								<li>
										<div class="col-lg-12">
												<div class="tile-stats">
																		<div class="profile text-center">
												<div class="profile_pic ">
													<img src="images/img.jpg" alt="..." class="img-circle profile_img">
												<p>Ivan Gerard</p>
												</div>

											</div>




														<div class="col-lg-12">
																<div class="divider"></div>

													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscing elit.lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas maxime incidunt dignissimos eos suscipit qui rerum minima officiis maiores eligendi sequi nesciunt dolorem voluptatum distinctio, dolore culpa hic libero. Distinctio! 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis facere sint illum aliquid nam! Obcaecati a inventore sequi ut laborum numquam ab saepe explicabo, temporibus, porro quia unde vero eius. Integer posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
														posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
													<div class="divider"></div>

														</div>
														<div class="col-lg-12">
															<i class="  fa fa-twitter"></i>
														</div>


												</div>

										</div>
								</li>
								<li>
										<div class="col-lg-12">
												<div class="tile-stats">
																		<div class="profile text-center">
												<div class="profile_pic ">
													<img src="images/img.jpg" alt="..." class="img-circle profile_img">
												<p>Ivan Gerard</p>
												</div>

											</div>




														<div class="col-lg-12">
																<div class="divider"></div>

													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscing elit.lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas maxime incidunt dignissimos eos suscipit qui rerum minima officiis maiores eligendi sequi nesciunt dolorem voluptatum distinctio, dolore culpa hic libero. Distinctio! 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis facere sint illum aliquid nam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime officiis cumque, sapiente possimus assumenda laudantium dolorum, voluptas, autem fuga iste sint ipsum voluptate inventore ab ducimus veniam quia vero ad!Obcaecati a inventore sequi ut laborum numquam ab saepe explicabo, temporibus, porro quia unde vero eius. Integer posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
														posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
													<div class="divider"></div>


														</div>
														<div class="col-lg-12">
															<i class="  fa fa-twitter"></i>
														</div>


												</div>

										</div>
								</li>
                <li>
                    <div class="col-lg-12">
                        <div class="tile-stats">
																		<div class="profile text-center">
					              <div class="profile_pic ">
					                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
												<p>Ivan Gerard</p>
					              </div>

					            </div>




														<div class="col-lg-12">
																<div class="divider"></div>

	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante Lorem ipsum dolor sit amet, consectetur adipiscing elit.  a ante.</p>
													<div class="divider"></div>

														</div>
														<div class="col-lg-12">
															<i class="  fa fa-twitter"></i>
														</div>


                        </div>

                    </div>
                </li>



            </ul>
        </section>

    </div>
    <!-- /container -->
    <script src="../jsmansory/masonry.pkgd.min.js"></script>
    <script src="../jsmansory/imagesloaded.pkgd.min.js"></script>
    <script src="../jsmansory/classie.js"></script>
    <script src="../jsmansory/colorfinder-1.1.js"></script>
    <script src="../jsmansory/gridScrollFx.js"></script>
    <script>
        new GridScrollFx(document.getElementById('grid'), {
            viewportFactor: 0.4
        });
    </script>
</body>

</html>
